html
    head
        title= title
        link(rel='stylesheet' href='/css/style.css' , type="text/css")
    body
        //Name of the file : tables.pug
        

        if detected_slam_code !== ""
            form(id="end_round_form" method="post" action="/admin")
                label= corruption_detection_output
                input(name="confirm_round_end" type='checkbox' checked=true style="display: none;")
                input(name="confirmed_winning_choice" type='text' value=detected_slam_code style="display: none;") 
                br
                button(type="submit") yes end the round
            button(onclick='window.location.href = "/admin";') no! cancel 
        else 
            form(id="myform" method="post" action="/admin")
                //input(type="text" name="num1" id="num1")
                //input(type="text" name="num2" id="num2")
                label= "Copy the corrupted item from pd2 and paste here:"
                br
                textarea(rows="4" cols="50" name="my_user_input" id="my_user_input_id")
                br
                button(type="submit") submit
                script(src='/js/my.js')
            label= corruption_detection_output
        br
        br
        form(id="restart" action="/restart")
            button(type="submit" onclick="setTimeout(function() { window.location = '/admin/'; }, 3000)") restart bot
