html
    head
        title= title
        link(rel='stylesheet' href='/css/style.css' , type="text/css")
    body
        //Name of the file : tables.pug
        label #{the_header}
        br
        if all_opts.break.text
            div
                fieldset(class="column33")
                    legend(align="center") 1 point
                    ul(class="list_c")
                        each element in all_opts.c_opts
                            li(class=element.style) !{element.text}
                    ul(class="list_b")
                        li(class=all_opts.break.style) !{all_opts.break.text}
                    if all_opts.s_opts[0]
                        ul(class="list_s")
                            li(class=all_opts.s_opts[0].style) !{all_opts.s_opts[0].text}
                fieldset(class="column33")
                    legend(align="center") 1.5 points
                    ul(class="list_m")
                        each element in all_opts.m_opts
                            li(class=element.style) !{element.text}
                    ul(class="list_s")
                        if all_opts.s_opts[1]
                            li(class=all_opts.s_opts[1].style) !{all_opts.s_opts[1].text}
                        if all_opts.s_opts[2]
                            li(class=all_opts.s_opts[2].style) !{all_opts.s_opts[2].text}
                        if all_opts.s_opts[3]
                            li(class=all_opts.s_opts[3].style) !{all_opts.s_opts[3].text}
                        if all_opts.s_opts[4]
                            li(class=all_opts.s_opts[4].style) !{all_opts.s_opts[4].text}
                        if all_opts.s_opts[5]
                            li(class=all_opts.s_opts[5].style) !{all_opts.s_opts[5].text}
                fieldset(class="column33")
                    legend(align="center") 2 points
                    ul(class="list_r")
                        each element in all_opts.r_opts
                            li(class=element.style) !{element.text}
        else
            label= "Current standings:"
                div(class="container")
                    ol(class="my_li")
                        each element in standings
                            li= element
        script.
            setTimeout(function(){location=''},5000)